<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<menu>
		<add id="Microcash_Module::Menu1" title="Microcash" module="Microcash" sortOrder="10" resource="Microcash_Module::Menu1"/>     
    </menu>
</config>
